<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
id="modalSheet">
<div class="modal-dialog" role="document">
  <div class="modal-content rounded-4 shadow">
    <div class="modal-header border-bottom-0">
      <h1 class="justify-content-center">Vous êtes ... </h1>

    </div>

    <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
      <button type="button" class="btn btn-lg btn-primary"><a href="#fournisseursubscribe"class="text-white"> Un fournisseur </a>  </button>
      <hr class="my-4">
      <button type="button" class="btn btn-lg btn-primary"><a href="#clientsubscribe" class="text-white"> Un client </a></button>
    </div>
    <p></p>
      <a href="#" class="center-text"><small class="text-body-secondary"> Vous avez déjà un compte ? </small></a>
      <p></p>
  </div>
</div>
</div>