  <!-- Debut de la card pour choisir les produits et les quantité que le client veut commander-->
  <div class="card margin-auto mb-3 mt-3">
    <div class="margin-auto card-body">
        <h5>Commande: #2737</h5>
        <p class="fs--1">29 Octobre 2023</p>
        <div><strong class="me-2">Société: </strong>
            <div class="badge rounded-pill badge-subtle-success fs--2">Reynaud<span class="fas fa-check ms-1"
                    data-fa-transform="shrink-2"></span></div>
        </div>
        <div><strong class="me-2">Vendeur: </strong>
            <div class="badge rounded-pill badge-subtle-success fs--2">Augustin Kheng<span class="fas fa-check ms-1"
                    data-fa-transform="shrink-2"></span></div>
        </div>
    </div>
</div>

<div class="card margin-auto mb-3">
    <div class="card-body">
        <div class="table-responsive fs--1">
            <table class="table table-striped border-bottom">
                <thead class="mx-auto bg-200">
                    <tr>
                        <th class="text-900 border-0">Produit</th>
                        <th class="text-900 border-0 text-center">Quantité</th>
                        <th class="text-900 border-0 text-end">Prix</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="border-200">
                        <td class="align-middle">
                            <h6 class="mb-0 text-nowrap"> Sole </h6>
                            <p class="mb-0">Provenance : Martinique , arrivage du 10/10/2023</p>
                        </td>
                        <td class="align-middle text-center">
                            <form class="add">
                                <div class="form-floating ">
                                    <input type="text" class=" w-25 rounded-3" id="floatingInput"
                                        placeholder="Quantité..">

                                </div>
                        </td>
                        <td class="align-middle text-end">$7.0</td>

                    </tr>
                    <tr class="border-200">
                        <td class="align-middle">
                            <h6 class="mb-0 text-nowrap">Pagre</h6>
                            <p class="mb-0">Provenance : Sénégal</p>
                        </td>
                        <td class="align-middle text-center">
                            <form class="add">
                                <div class="form-floating ">
                                    <input type="text" class=" w-25 rounded-3" id="floatingInput"
                                        placeholder="Quantité..">

                                </div>
                        </td>
                        <td class="align-middle text-end">$12</td>

                    </tr>
                    <tr>
                        <td class="align-middle">
                            <h6 class="mb-0 text-nowrap">Sardines</h6>
                            <p class="mb-0">Provenance : Italie, arrivage 12/10/2023 </p>
                        </td>
                        <td class="align-middle text-center">
                            <form class="add">
                                <div class="form-floating ">
                                    <input type="text" class=" w-25 rounded-3" id="floatingInput"
                                        placeholder="Quantité..">
                                </div>
                        </td>
                        <td class="align-middle text-end">$3,5</td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row g-0 justify-content-end">
            <div class="col-auto">
                <table class="table table-sm table-borderless fs--1 text-end">
                    <tr>
                        <th class="text-900">Subtotal:</th>
                        <td class="fw-semi-bold">$6,230.00 </td>
                    </tr>
                    <tr>
                        <th class="text-900">Tax 5%:</th>
                        <td class="fw-semi-bold">$311.50</td>
                    </tr>
                    <tr class="border-top">
                        <th class="text-900">Total:</th>
                        <td class="fw-semi-bold">$6541.50</td>
                    </tr>
                </table>
            </div>
            <div class="col-auto">
                <table class="table table-sm  fs--1 text-center">
                    <tr>
                        <th class="text-900"><button type="button" class="btn btn-link"> Commander </button></th>
                    </tr>
                    <tr>
                        <th class="text-900"> <button type="button" class="btn btn-link">Contacter le
                                vendeur</button>
                        </th>
                    </tr>

                </table>
            </div>
        </div>

    </div>
</div>
<!-- Fin de la card pour choisir les produits et les quantité que le client veut commander-->