
<div class="card mb-3 mx-2 " id="ordersTable"
data-list='{"valueNames":["Commande","date","statut","prix total"],"page":10,"pagination":true}'>
<div class="card-header">
    <div class="row flex-between-center">
        <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
            <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Factures </h5>
        </div>
        <div class="col-8 col-sm-auto ms-auto text-end ps-0">
            <div class="d-none" id="orders-bulk-actions">
                <div class="d-flex">
                    <select class="form-select form-select-sm" aria-label="Bulk actions">
                        <option selected="">Bulk actions</option>
                        <option value="Refund">Refund</option>
                        <option value="Delete">Delete</option>
                        <option value="Archive">Archive</option>
                    </select>
                    <button class="btn btn-falcon-default btn-sm ms-2" type="button">Apply</button>
                </div>
            </div>
            <div id="orders-actions">
                <button class="btn btn-sm" type="button">Nouveau</button>
                <button class="btn btn-sm mx-2" type="button">Filtre</button>
            </div>
        </div>
    </div>
</div>
<div class="card-body p-0">
    <div class="table-responsive scrollbar">
        <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
            <thead class="bg-200">
                <tr>
                    <th>
                        <div class="form-check fs-0 mb-0 d-flex align-items-center">
                            <input class="form-check-input" id="checkbox-bulk-customers-select" type="checkbox"
                                data-bulk-select='{"body":"table-orders-body","actions":"orders-bulk-actions","replacedElement":"orders-actions"}' />
                        </div>
                    </th>
                    <th class="text-900 sort pe-1 align-middle white-space-nowrap" data-sort="order">Factures
                    </th>
                    <th class="text-900 sort pe-1 align-middle white-space-nowrap pe-7" data-sort="date">Date
                    </th>
                    <th class="text-900 sort pe-1 align-middle white-space-nowrap text-center"
                        data-sort="status">Statut</th>
                    <th class="text-900 sort pe-1 align-middle white-space-nowrap text-end" data-sort="amount">
                        Prix</th>
                    <th class="no-sort"></th>
                </tr>
            </thead>
            <tbody class="list" id="table-orders-body">
                <tr class="btn-reveal-trigger">
                    <td class="align-middle" style="width: 28px;">
                        <div class="form-check fs-0 mb-0 d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="checkbox-0"
                                data-bulk-select-row="data-bulk-select-row" />
                        </div>
                    </td>
                    <td class="order py-2 align-middle white-space-nowrap"><a
                            href="./././app/e-commerce/orders/order-details.html"> <strong>#181</strong></a>
                        <strong>Augustin Kheng</strong><br />
                    </td>
                    <td class="date py-2 align-middle">20/04/2023</td>

                    <td class="status py-2 align-middle text-center fs-0 white-space-nowrap"><span
                            class="badge badge rounded-pill d-block badge-subtle-success">Payée<span
                                class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span>
                    </td>
                    <td class="amount py-2 align-middle text-end fs-0 fw-medium">$99</td>
                    <td class="py-2 align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal"
                                type="button" id="order-dropdown-1" data-bs-toggle="dropdown"
                                data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                    class="fas fa-ellipsis-h fs--1"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-0"
                                aria-labelledby="order-dropdown-1">
                                <div class="py-2"><a class="dropdown-item" href="#!">Payée</a><a
                                        class="dropdown-item" href="#!">Non payée</a><a class="dropdown-item"
                                        href="#!">En attente</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                        href="#!">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="btn-reveal-trigger">
                    <td class="align-middle" style="width: 28px;">
                        <div class="form-check fs-0 mb-0 d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="checkbox-1"
                                data-bulk-select-row="data-bulk-select-row" />
                        </div>
                    </td>
                    <td class="order py-2 align-middle white-space-nowrap"><a
                            href="./././app/e-commerce/orders/order-details.html"> <strong>#182</strong></a>
                        <strong>Mathias Perez</strong><br />
                    </td>
                    <td class="date py-2 align-middle">20/04/2023</td>

                    <td class="status py-2 align-middle text-center fs-0 white-space-nowrap"><span
                            class="badge badge rounded-pill d-block badge-subtle-primary">Non payée<span
                                class="ms-1 fas fa-redo" data-fa-transform="shrink-2"></span></span>
                    </td>
                    <td class="amount py-2 align-middle text-end fs-0 fw-medium">$120</td>
                    <td class="py-2 align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal"
                                type="button" id="order-dropdown-1" data-bs-toggle="dropdown"
                                data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                    class="fas fa-ellipsis-h fs--1"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-0"
                                aria-labelledby="order-dropdown-1">
                                <div class="py-2"><a class="dropdown-item" href="#!">Payée</a><a
                                        class="dropdown-item" href="#!">Non payée</a><a class="dropdown-item"
                                        href="#!">En attente</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                        href="#!">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="btn-reveal-trigger">
                    <td class="align-middle" style="width: 28px;">
                        <div class="form-check fs-0 mb-0 d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="checkbox-1"
                                data-bulk-select-row="data-bulk-select-row" />
                        </div>
                    </td>
                    <td class="order py-2 align-middle white-space-nowrap"><a
                            href="./././app/e-commerce/orders/order-details.html"> <strong>#182</strong></a>
                        <strong>Mathias Perez</strong><br />
                    </td>
                    <td class="date py-2 align-middle">20/04/2023</td>

                    <td class="status py-2 align-middle text-center fs-0 white-space-nowrap"><span
                            class="badge badge rounded-pill d-block badge-subtle-primary">Non payée<span
                                class="ms-1 fas fa-redo" data-fa-transform="shrink-2"></span></span>
                    </td>
                    <td class="amount py-2 align-middle text-end fs-0 fw-medium">$120</td>
                    <td class="py-2 align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal"
                                type="button" id="order-dropdown-1" data-bs-toggle="dropdown"
                                data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                    class="fas fa-ellipsis-h fs--1"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-0"
                                aria-labelledby="order-dropdown-1">
                                <div class="py-2"><a class="dropdown-item" href="#!">Payée</a><a
                                        class="dropdown-item" href="#!">Non payée</a><a class="dropdown-item"
                                        href="#!">En attente</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                        href="#!">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="btn-reveal-trigger">
                    <td class="align-middle" style="width: 28px;">
                        <div class="form-check fs-0 mb-0 d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="checkbox-1"
                                data-bulk-select-row="data-bulk-select-row" />
                        </div>
                    </td>
                    <td class="order py-2 align-middle white-space-nowrap"><a
                            href="./././app/e-commerce/orders/order-details.html"> <strong>#182</strong></a>
                        <strong>Mathias Perez</strong><br />
                    </td>
                    <td class="date py-2 align-middle">20/04/2023</td>

                    <td class="status py-2 align-middle text-center fs-0 white-space-nowrap"><span
                            class="badge badge rounded-pill d-block badge-subtle-primary">Non payée<span
                                class="ms-1 fas fa-redo" data-fa-transform="shrink-2"></span></span>
                    </td>
                    <td class="amount py-2 align-middle text-end fs-0 fw-medium">$120</td>
                    <td class="py-2 align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal"
                                type="button" id="order-dropdown-1" data-bs-toggle="dropdown"
                                data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                    class="fas fa-ellipsis-h fs--1"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-0"
                                aria-labelledby="order-dropdown-1">
                                <div class="py-2"><a class="dropdown-item" href="#!">Payée</a><a
                                        class="dropdown-item" href="#!">Non payée</a><a class="dropdown-item"
                                        href="#!">En attente</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                        href="#!">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="btn-reveal-trigger">
                    <td class="align-middle" style="width: 28px;">
                        <div class="form-check fs-0 mb-0 d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="checkbox-1"
                                data-bulk-select-row="data-bulk-select-row" />
                        </div>
                    </td>
                    <td class="order py-2 align-middle white-space-nowrap"><a
                            href="./././app/e-commerce/orders/order-details.html"> <strong>#182</strong></a>
                        <strong>Mathias Perez</strong><br />
                    </td>
                    <td class="date py-2 align-middle">20/04/2023</td>

                    <td class="status py-2 align-middle text-center fs-0 white-space-nowrap"><span
                            class="badge badge rounded-pill d-block badge-subtle-primary">Non payée<span
                                class="ms-1 fas fa-redo" data-fa-transform="shrink-2"></span></span>
                    </td>
                    <td class="amount py-2 align-middle text-end fs-0 fw-medium">$120</td>
                    <td class="py-2 align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal"
                                type="button" id="order-dropdown-1" data-bs-toggle="dropdown"
                                data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                    class="fas fa-ellipsis-h fs--1"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-0"
                                aria-labelledby="order-dropdown-1">
                                <div class="py-2"><a class="dropdown-item" href="#!">Payée</a><a
                                        class="dropdown-item" href="#!">Non payée</a><a class="dropdown-item"
                                        href="#!">En attente</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                        href="#!">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="btn-reveal-trigger">
                    <td class="align-middle" style="width: 28px;">
                        <div class="form-check fs-0 mb-0 d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="checkbox-1"
                                data-bulk-select-row="data-bulk-select-row" />
                        </div>
                    </td>
                    <td class="order py-2 align-middle white-space-nowrap"><a
                            href="./././app/e-commerce/orders/order-details.html"> <strong>#182</strong></a>
                        <strong>Mathias Perez</strong><br />
                    </td>
                    <td class="date py-2 align-middle">20/04/2023</td>

                    <td class="status py-2 align-middle text-center fs-0 white-space-nowrap"><span
                            class="badge badge rounded-pill d-block badge-subtle-primary">Non payée<span
                                class="ms-1 fas fa-redo" data-fa-transform="shrink-2"></span></span>
                    </td>
                    <td class="amount py-2 align-middle text-end fs-0 fw-medium">$120</td>
                    <td class="py-2 align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal"
                                type="button" id="order-dropdown-1" data-bs-toggle="dropdown"
                                data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                    class="fas fa-ellipsis-h fs--1"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-0"
                                aria-labelledby="order-dropdown-1">
                                <div class="py-2"><a class="dropdown-item" href="#!">Payée</a><a
                                        class="dropdown-item" href="#!">Non payée</a><a class="dropdown-item"
                                        href="#!">En attente</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                        href="#!">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="btn-reveal-trigger">
                    <td class="align-middle" style="width: 28px;">
                        <div class="form-check fs-0 mb-0 d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="checkbox-1"
                                data-bulk-select-row="data-bulk-select-row" />
                        </div>
                    </td>
                    <td class="order py-2 align-middle white-space-nowrap"><a
                            href="./././app/e-commerce/orders/order-details.html"> <strong>#182</strong></a>
                        <strong>Mathias Perez</strong><br />
                    </td>
                    <td class="date py-2 align-middle">20/04/2023</td>

                    <td class="status py-2 align-middle text-center fs-0 white-space-nowrap"><span
                            class="badge badge rounded-pill d-block badge-subtle-primary">Non payée<span
                                class="ms-1 fas fa-redo" data-fa-transform="shrink-2"></span></span>
                    </td>
                    <td class="amount py-2 align-middle text-end fs-0 fw-medium">$120</td>
                    <td class="py-2 align-middle white-space-nowrap text-end">
                        <div class="dropdown font-sans-serif position-static">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal"
                                type="button" id="order-dropdown-1" data-bs-toggle="dropdown"
                                data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span
                                    class="fas fa-ellipsis-h fs--1"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-0"
                                aria-labelledby="order-dropdown-1">
                                <div class="py-2"><a class="dropdown-item" href="#!">Payée</a><a
                                        class="dropdown-item" href="#!">Non payée</a><a class="dropdown-item"
                                        href="#!">En attente</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger"
                                        href="#!">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>