<!--début fil d'actualité-->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Fil d'actualité</h1>

    </div>
    <!-- début card pour filtres et différentes pages-->
    <div class="card mb-3">
        <div class="card-body">
            <div class="row flex-between-center">
                <div class="col-sm-auto mb-2 mb-sm-0">
                    <h6 class="mb-0">Montrer 1-24 des 205 publications</h6>
                </div>
                <div class="col-sm-auto">
                    <div class="row gx-2 align-items-center">
                        <div class="col-auto">
                            <form class="row gx-2">
                                <div class="col-auto"><small>Trier : </small></div>
                                <div class="col-auto">
                                    <select class="form-select form-select-sm" aria-label="Bulk actions">
                                        <option selected="">Plus récent</option>
                                        <option value="Refund">Société</option>
                                        <option value="Delete">Vendeur</option>
                                        <option value="Delete">Produit</option>
                                        <option value="Delete">Prx</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-auto pe-0"><a class="text-600 px-1"
                                href="./././app/e-commerce/product/product-grid.html"
                                data-bs-toggle="tooltip" title="Product Grid"><span
                                    class="fas fa-th"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin card pour filtres et différentes pages-->

    <!-- Card feed item START -->
    <div class="card">
        <!-- Card header START -->
        <div class="card-header border-0 pb-0">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <!-- Avatar -->

                    <!-- Info -->
                    <div>
                        <div class="nav nav-divider">
                            <h6 class="nav-item card-title mb-0"> <a href="#!"> Augustin Kheng </a></h6>
                            <span class="nav-item small"> 2hr</span>
                        </div>
                        <p class="mb-0 small"> Vendeur chez Reynaud</p>
                    </div>
                </div>
                <!-- Card feed action dropdown START -->
                <div class="dropdown">
                    <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2"
                        id="cardFeedAction1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </a>
                    <!-- Card feed action dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction1">
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save
                                post</a>
                        </li>
                        <li><a class="dropdown-item" href="#"> <i
                                    class="bi bi-person-x fa-fw pe-2"></i>Unfollow
                                lori
                                ferguson </a></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide
                                post</a>
                        </li>
                        <li><a class="dropdown-item" href="#"> <i
                                    class="bi bi-slash-circle fa-fw pe-2"></i>Block</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-2"></i>Report
                                post</a></li>
                    </ul>
                </div>
                <!-- Card feed action dropdown END -->
            </div>
        </div>
        <!-- Card header END -->
        <!-- Card body START -->

        <div class="card-body">
           

            <div class="card">
                <div class="card-body p-0 overflow-hidden">
                    
                    
                    <!-- card pour produit debut -->

                    <div class="col-12 p-x1 bg-100">
                        <div class="row">

                            <div class="col-sm-9 col-md-9">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="table-responsive fs--1">
                                            <table class="table table-striped border-bottom">
                                                <thead class="mx-auto bg-200">
                                                    <tr>
                                                        <th class="text-900 border-0">Produit</th>
                                                        <th class="text-900 border-0 text-center">Provenance
                                                        </th>
                                                        <th class="text-900 border-0 text-end">Prix</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="border-200">
                                                        <td class="align-middle">
                                                            <h6 class="mb-0 text-nowrap"> <a class="d-flex align-items-center gap-2" href="#">
                                                                Sole
                                                            </a> </h6>
                                                           
                                                        </td>
                                                        <td class="align-middle text-center">
                                                            Italie
                                                        </td>
                                                        <td class="align-middle text-end">$7.0</td>

                                                    </tr>
                                                    <tr class="border-200">
                                                        <td class="align-middle">
                                                            <h6 class="mb-0 text-nowrap"><a class="d-flex align-items-center gap-2" href="#">
                                                                Pagre
                                                            </a></h6>
                                                           
                                                        </td>
                                                        <td class="align-middle text-center">
                                                            Sénégal
                                                            
                                                        </td>
                                                        <td class="align-middle text-end">$12</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="align-middle">
                                                            <h6 class="mb-0 text-nowrap"><a class="d-flex align-items-center gap-2" href="#">
                                                                Sardine
                                                            </a></h6>
                                                           
                                                        </td>
                                                        <td class="align-middle text-center">
                                                            Hollande
                                                        </td>
                                                        <td class="align-middle text-end">$3,5</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card pour produit fin-->

                <!-- Feed react START -->
                <ul class="nav nav-stack py-3 small">
                    <li class="nav-item">
                        <a class="nav-link mb-0 btn-sm btn-outline-secondary border-300 d-lg-block me-2 me-lg-0"
                            href="#!"><span class="far fa-heart"></span>
                            Contacter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-0 btn btn-sm btn-outline-secondary border-300 d-lg-block me-2 me-lg-0"
                            href="file:///C:/xampp/htdocs/Front//commande-client-detail.html">
                            Commander</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-0 btn btn-sm btn-outline-secondary border-300 d-lg-block me-2 me-lg-0"
                            href="#!">
                            Voir la publication </a>
                    </li>
                    <!-- Card share action START -->
                    <li class="nav-item dropdown ms-sm-auto">
                        <a class="nav-link mb-0" href="#" id="cardShareAction8" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share (3)
                        </a>
                        <!-- Card share action dropdown menu -->
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction8">
                            <li><a class="dropdown-item" href="#"> <i
                                        class="bi bi-envelope fa-fw pe-2"></i>Send
                                    via
                                    Direct
                                    Message</a></li>
                            <li><a class="dropdown-item" href="#"> <i
                                        class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
                                </a></li>
                            <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy
                                    link to
                                    post</a></li>
                            <li><a class="dropdown-item" href="#"> <i
                                        class="bi bi-share fa-fw pe-2"></i>Share
                                    post
                                    via
                                    …</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"> <i
                                        class="bi bi-pencil-square fa-fw pe-2"></i>Share to
                                    News Feed</a></li>
                        </ul>
                    </li>
                    <!-- Card share action END -->
                </ul>
                <!-- Feed react END -->


            </div>
            <!-- Card body END -->

        </div>
        <div class="card-footer border-top d-flex justify-content-center">
            <button class="btn btn-falcon-default btn-sm me-2" type="button" disabled="disabled"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Prev"><span
                    class="fas fa-chevron-left"></span></button><a
                class="btn btn-sm btn-falcon-default text-primary me-2" href="#!">1</a><a
                class="btn btn-sm btn-falcon-default me-2" href="#!">2</a><a
                class="btn btn-sm btn-falcon-default me-2" href="#!"><span
                    class="fas fa-ellipsis-h"></span></a><a class="btn btn-sm btn-falcon-default me-2"
                href="#!">35</a>
            <button class="btn btn-falcon-default btn-sm" type="button" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Next"><span class="fas fa-chevron-right"></span></button>
        </div>
</main>
<!--fin fil d'actualité-->
</div>
<!-- Card feed item END -->