<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Adresse email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Mot de passe</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit"><a href="#connection" class="text-white">Se connecter </a> </button>
            <a href="#" class="center-text"><small class="text-body-secondary move-right"><a href="#passforgotten"> Mot de passe oublié ? </a>  </small></a>
            <hr class="my-4">
  
            <button class="px-5 w-100 py-1 mb-2 btn btn-outline-secondary rounded-3" type="submit"> <a href="#subscribe" > Créer un nouveau compte</a> </button>
            <h2 class="fs-5 fw-bold mb-3">Se connecter avec</h2>
            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
              <svg class="bi me-1" width="16" height="16"><use xlink:href="#twitter"/></svg>
               Twitter
            </button>
            <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
              <svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"/></svg>
               Facebook
            </button>
            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
              <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"/></svg>
               GitHub
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  