<!-- Container START -->
<div class="container">
    <div class="row g-4">

        <!-- Main content START -->
        <div class="col-lg-8 vstack gap-4">
            <!-- Card START -->
            <div class="card">
                <div class="h-200px rounded-top"
                    style="background-image:url(assets/images/bg/05.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;">
                </div>
                <!-- Card body START -->
                <div class="card-body py-0">
                    <div class="d-sm-flex align-items-start text-center text-sm-start">

                        <div class="ms-sm-4 mt-sm-3">
                            <!-- Info -->
                            <h1 class="mb-0 h5"> Augustin kheng </h1> <i
                                class="bi bi-patch-check-fill text-success small"></i></h1>
                            <p>Demarne</p>
                        </div>
                        <!-- Button -->
                        <div class="d-flex mt-3 justify-content-center ms-sm-auto">
                            <button class="btn btn-danger-soft me-2" type="button"> <i
                                    class="bi bi-pencil-fill pe-1"></i> Modifier le profil</button>
                            <div class="dropdown">
                                <!-- Card share action menu -->
                                <button class="icon-md btn btn-light" type="button" id="profileAction2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <!-- Card share action dropdown menu -->
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                                    <li><a class="dropdown-item" href="#"> <i
                                                class="bi bi-bookmark fa-fw pe-2"></i>Share profile in a message</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#"> <i
                                                class="bi bi-file-earmark-pdf fa-fw pe-2"></i>Save your profile to
                                            PDF</a></li>
                                    <li><a class="dropdown-item" href="#"> <i class="bi bi-lock fa-fw pe-2"></i>Lock
                                            profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#"> <i
                                                class="bi bi-gear fa-fw pe-2"></i>Paramètres</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- List profile -->
                    <ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">
                        <li class="list-inline-item"><i class="bi bi-briefcase me-1"></i> Vendeur</li>
                        <li class="list-inline-item"><i class="bi bi-geo-alt me-1"></i> Société : Demarne </li>
                        <li class="list-inline-item"><i class="bi bi-calendar2-plus me-1"></i> Membre depuis le 11
                            octobre 2023</li>
                    </ul>
                </div>
                <!-- Card body END -->
                <div class="card-footer mt-3 pt-2 pb-0">
                    <!-- Nav profile pages -->
                    <ul
                        class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0">
                        <li class="nav-item"> <a class="nav-link active" href="profilvendeur_posts.html"> Posts </a>
                        </li>
                        <li class="nav-item"> <a class="nav-link " href="profilvendeur_connections.html"> Clients
                                <span class="badge bg-success bg-opacity-10 text-success small"> 230</span> </a>
                        </li>


                    </ul>
                </div>
            </div>
            <!-- Card END -->

            <!-- Container START -->
            <div class="container">
                <div class="row g-4">

                    <!-- Main content START -->
                    <div class="col-lg-8 vstack gap-4">
                        <!-- Card START -->

                        <!-- Share feed START -->
                        <div class="card card-body">
                            <div class="d-flex mb-3">

                                <!-- Post input -->
                                <form class="w-100">
                                    <input class="form-control pe-4 border-0" placeholder="Produits du jour..."
                                        data-bs-toggle="modal" data-bs-target="#modalCreateFeed">
                                </form>
                            </div>
                            <!-- Share feed toolbar START -->
                            <ul class="nav nav-pills nav-stack small fw-normal">
                                <li class="nav-item">
                                    <a href="#nouveaupost" > Nouveau post </a>
                                </li>

                            </ul>
                            <!-- Share feed toolbar END -->

                        </div>
                        <div class="card">
                            <!-- Card header START -->
                            <div class="card-header border-0 pb-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <!-- Avatar -->

                                        <!-- Info -->
                                        <div>
                                            <div class="nav nav-divider">
                                                <h6 class="nav-item card-title mb-0"> <a href="#!"> Augustin Kheng
                                                    </a></h6>
                                                <span class="nav-item small"> 2hr</span>
                                            </div>
                                            <p class="mb-0 small"> Vendeur chez Demarne</p>
                                        </div>
                                    </div>
                                    <!-- Card feed action dropdown START -->
                                    <div class="dropdown">
                                        <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2"
                                            id="cardFeedAction1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </a>
                                        <!-- Card feed action dropdown menu -->
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction1">
                                            <li><a class="dropdown-item" href="#"> <i
                                                        class="bi bi-bookmark fa-fw pe-2"></i>Save
                                                    post</a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"> <i
                                                        class="bi bi-person-x fa-fw pe-2"></i>Unfollow
                                                    lori
                                                    ferguson </a></li>
                                            <li><a class="dropdown-item" href="#"> <i
                                                        class="bi bi-x-circle fa-fw pe-2"></i>Hide
                                                    post</a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"> <i
                                                        class="bi bi-slash-circle fa-fw pe-2"></i>Block</a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#"> <i
                                                        class="bi bi-flag fa-fw pe-2"></i>Report
                                                    post</a></li>
                                        </ul>
                                    </div>
                                    <!-- Card feed action dropdown END -->
                                </div>
                            </div>
                            <!-- Card header END -->
                            <!-- Card body START -->

                            <div class="card-body">


                                <div class="card">
                                    <div class="card-body p-0 overflow-hidden">


                                        <!-- card pour produit debut -->

                                        <div class="col-12 p-x1 bg-100">
                                            <div class="row">

                                                <div class="col-sm-9 col-md-9">
                                                    <div class="row">
                                                        <div class="col-lg-9">
                                                            <div class="table-responsive fs--1">
                                                                <table class="table table-striped border-bottom">
                                                                    <thead class="mx-auto bg-200">
                                                                        <tr>
                                                                            <th class="text-900 border-0">Produit
                                                                            </th>
                                                                            <th class="text-900 border-0 text-center">
                                                                                Provenance
                                                                            </th>
                                                                            <th class="text-900 border-0 text-end">
                                                                                Prix</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="border-200">
                                                                            <td class="align-middle">
                                                                                <h6 class="mb-0 text-nowrap"> <a
                                                                                        class="d-flex align-items-center gap-2"
                                                                                        href="#">
                                                                                        Sole
                                                                                    </a> </h6>

                                                                            </td>
                                                                            <td class="align-middle text-center">
                                                                                Italie
                                                                            </td>
                                                                            <td class="align-middle text-end">$7.0
                                                                            </td>

                                                                        </tr>
                                                                        <tr class="border-200">
                                                                            <td class="align-middle">
                                                                                <h6 class="mb-0 text-nowrap"><a
                                                                                        class="d-flex align-items-center gap-2"
                                                                                        href="#">
                                                                                        Pagre
                                                                                    </a></h6>

                                                                            </td>
                                                                            <td class="align-middle text-center">
                                                                                Sénégal

                                                                            </td>
                                                                            <td class="align-middle text-end">$12
                                                                            </td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td class="align-middle">
                                                                                <h6 class="mb-0 text-nowrap"><a
                                                                                        class="d-flex align-items-center gap-2"
                                                                                        href="#">
                                                                                        Sardine
                                                                                    </a></h6>

                                                                            </td>
                                                                            <td class="align-middle text-center">
                                                                                Hollande
                                                                            </td>
                                                                            <td class="align-middle text-end">$3,5
                                                                            </td>

                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>